/* Roboto:*/
.roboto48 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.roboto36 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

.roboto36bold {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.roboto20 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.roboto20bold {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Taille */
.lh-50 {
    height: 50px;
}

.lh-41 {
    height: 41px;
}

.h-10 {
    height: 10%
}

.h945 {
    height: 94.5vh;
}

.align {
    display: flex;
    justify-content: center;
    ;
}

.flexform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

/* Color*/
.bkgColorBlack {
    background-color: #2e302f;
}

.bkgColorOrange {
    background-color: #e2ba8f;
}

.imgBkg {
    background-image: url(/public/logoBlhook\ Tran.png);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: 123px 463px;
    background-size: 113%;
}

.bkgColorBisque {
    background-color: #e0dede;
}

.bkgColorGrey {
    background-color: #424443;
}

.colorWhite {
    color: #ff6600;
}

/* border*/

.borderb {
    border-bottom: 3px solid rgb(248, 101, 3);
}

.borderOrange {
    border: orange solid 1px
}

/* Decoration*/

.a {
    text-decoration: none;
}

.weather {

    gap: 30px;
}

/* Page Publier un post */

.publierunpost {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #424443;
    padding: 1% 0% 1% 0%;
    border-bottom-style: solid;
    border-width: 1px 2px 3px 4px;
    margin: 0% 20% 2% 20%;
}

.overflow {
    overflow-x: scroll;
}

.contenair {
    display: flex;
    justify-content: center;
}

.post {
    border-style: hidden;
}

.title {
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 0%;
}

.text {
    padding-bottom: 12%;

}

.m-bb {

    margin-bottom: 10px;
}

.allbtn {
    display: flex;
    justify-content: center;
    gap: 7%;

}

.buttoncp {
    color: rgb(43, 161, 229);
    border-color: rgb(8, 76, 248);
}

.buttoncp:hover {
    background-color: rgb(43, 161, 229);
    color: #ffffff;
    border-color: rgb(74, 138, 113);
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}